### **Задание 1.** Создать таблицы со следующими структурами и загрузить данные из csv-файлов.

In [ ]:
CREATE TABLE transactions (
    transaction_id INT,
    product_id INT,
    customer_id INT,
    transaction_date DATE,
    online_order BOOLEAN,
    order_status VARCHAR(50),
    brand VARCHAR(50),
    product_line VARCHAR(50),
    product_class VARCHAR(50),
    product_size VARCHAR(50),
    list_price DECIMAL(10, 2),
    standard_cost DECIMAL(10, 2)
);

CREATE TABLE customer (
    customer_id SERIAL PRIMARY KEY,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    gender VARCHAR(10) CHECK (gender IN ('Male', 'Femal', 'Female', 'M', 'F', 'U')),
    DOB DATE,
    job_title VARCHAR(255),
    job_industry_category VARCHAR(255),
    wealth_segment VARCHAR(50),
    deceased_indicator CHAR(1) CHECK (deceased_indicator IN ('Y', 'N')),
    owns_car CHAR(3) CHECK (owns_car IN ('Yes', 'No')),
    address TEXT,
    postcode INT,
    state VARCHAR(100),
    country VARCHAR(100),
    property_valuation INT
);

### **Задание 2.1** Вывести все уникальные бренды, у которых стандартная стоимость выше 1500 долларов.

In [ ]:
SELECT DISTINCT brand
FROM transaction
WHERE standard_cost > 1500

![2.1](./images/2.1.png)

### **Задание 2.2** Вывести все подтвержденные транзакции за период '2017-04-01' по '2017-04-09' включительно.

In [ ]:
SELECT *
FROM transaction
WHERE order_status = 'Approved' and transaction_date between '2017-04-01' and '2017-04-09'

![2.2.1](./images/2.2.1.png)

In [ ]:
SELECT count(*)
FROM transaction
WHERE order_status = 'Approved' and transaction_date between '2017-04-01' and '2017-04-09'

![2.2.2](./images/2.2.2.png)

### **Задание 2.3** Вывести все профессии у клиентов из сферы IT или Financial Services, которые начинаются с фразы 'Senior'.

In [ ]:
SELECT DISTINCT job_title  
FROM customer  
WHERE job_industry_category IN ('IT', 'Financial Services')  
AND job_title LIKE 'Senior%'

![2.4](./images/2.3.png)

### **Задание 2.4** Вывести все бренды, которые закупают клиенты, работающие в сфере Financial Services.

SELECT DISTINCT transaction.brand
FROM transaction
JOIN customer ON transaction.customer_id = customer.customer_id
WHERE customer.job_industry_category = 'Financial Services'

![2.4](./images/2.4.png)

### **Задание 2.5** Вывести 10 клиентов, которые оформили онлайн-заказ продукции из брендов 'Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles'.

In [ ]:
 SELECT DISTINCT customer.customer_id , customer.first_name, customer.last_name
 FROM customer
 JOIN transaction ON customer.customer_id = transaction.customer_id
 WHERE transaction.online_order = true AND transaction.brand IN ('Giant Bicycles', 'Norco Bicycles', 'Trek Bicycles')
 LIMIT 10

![2.5](./images/2.5.png)

### **Задание 2.6** Вывести всех клиентов, у которых нет транзакций.

In [ ]:
 SELECT customer.customer_id , customer.first_name, customer.last_name, transaction.transaction_id
 FROM customer
 LEFT JOIN transaction ON customer.customer_id = transaction.customer_id
 WHERE transaction.transaction_id IS NULL

![2.6.1](./images/2.6.1.png)

In [ ]:
 SELECT count(*)
 FROM customer
 LEFT JOIN transaction ON customer.customer_id = transaction.customer_id
 WHERE transaction.transaction_id IS NULL

![2.6.2](./images/2.6.2.png)

### **Задание 2.7** Вывести всех клиентов из IT, у которых транзакции с максимальной стандартной стоимостью.

In [ ]:
WITH max_cost AS (
        SELECT MAX(standard_cost) AS max_standard_cost
        FROM transaction
    )
    SELECT DISTINCT customer.customer_id, customer.first_name, customer.last_name
    FROM customer
    JOIN transaction ON customer.customer_id = transaction.customer_id
    JOIN max_cost ON transaction.standard_cost = max_cost.max_standard_cost
    WHERE customer.job_industry_category = 'IT'

![2.7](./images/2.7.png)

### **Задание 2.8** Вывести всех клиентов из сферы IT и Health, у которых есть подтвержденные транзакции за период '2017-07-07' по '2017-07-17'.

In [ ]:
SELECT DISTINCT customer.customer_id, customer.first_name, customer.last_name
FROM customer
LEFT JOIN transaction ON customer.customer_id = transaction.customer_id
WHERE customer.job_industry_category IN ('IT', 'Health')
  AND transaction.order_status = 'Approved'
  AND transaction.transaction_date BETWEEN '2017-07-07' AND '2017-07-17'

![2.8.1](./images/2.8.1.png)

In [ ]:
SELECT count(DISTINCT customer.customer_id)
FROM customer
left JOIN transaction ON customer.customer_id = transaction.customer_id
WHERE customer.job_industry_category IN ('IT', 'Health')
  AND transaction.order_status = 'Approved'
  AND transaction.transaction_date BETWEEN '2017-07-07' AND '2017-07-17'

![2.8.2](./images/2.8.2.png)